.Excontainer {
    background-image: url("https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-de-papel-de-espaco-de-design_53876-147801.jpg?t=st=1729640945~exp=1729644545~hmac=990ddd56b5daa423fbe3296adba9c413c62086cc9187c7024cf82ae8a963190e&w=1380");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid rgb(28, 202, 216);
}
.exOverlaybg{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    background-size: cover;
}
.Excontainer h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

.Exrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95vw;
}

.Exrow-item {
    width: 20vw;
    height: 340px;
    border-bottom: 2px solid rgb(28, 202, 216);
    border-radius: 10px;
    margin: 0px 0px 50px 0px;
    box-shadow: 2px 5px 2px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blackCard {
    background-color: rgb(36,33,37);
}

.blackCard p {
    color: white;
}

.blueCard {
    background-color: rgb(17,109,116);
}

.blueCard p {
    color: white;
}
.blueIcon {
    width: 70px;
    height: 70px;
    margin-top: -30px;
    border-radius: 50%;
    background-color: rgb(28, 202, 216);
    align-items: center;
    justify-content: center;
    display: flex;
}

.blackIcon {
    width: 70px;
    height: 70px;
    margin-top: -30px;
    border-radius: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.textContainer {
    margin: 0px 15px 10px 15px;
}

.textContainer span {
    font-size: 30px;
    font-weight: bold;
    
}

.textContainer p {
    font-size: 20px;
    font-weight: bold;
}

.whiteCard {
    margin: 0px 30px 50px 30px;
    background-color: white;
}

.whiteCard p {
    color: black;
}

.whiteCard span {
    color: black;
}

.Exrow-item svg {
    width: 50px;
    height: 50px;
}

@media (max-width: 960px) {
    .Exrow {
        display: flex;
        flex-direction: column;
    }
    .Exrow-item {
        margin: 0px 0px 50px 0px;
    }
}

@media (max-width: 600px) {
    .Excontainer {
        padding: 0;
        margin: 10px 0px 0px 0px;
    }
    .Excontainer h1 {
        font-size: 25px;
    }
    .Exrow-item {
        width: 60vw;
        height: 200px;
    }
    .textContainer span {
        font-size: 20px;  
    }
    
    .textContainer p {
        font-size: 15px; 
    }
}