.testimony {
    background-image: url("https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-de-papel-de-espaco-de-design_53876-147801.jpg?t=st=1729640945~exp=1729644545~hmac=990ddd56b5daa423fbe3296adba9c413c62086cc9187c7024cf82ae8a963190e&w=1380");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid rgb(28, 202, 216);
}

.testimonyOverlay {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    padding: 30px;
}


.testimony h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.testimony h2 {
    margin: 0;
    font-size: 20px;
    font-weight: light;
    margin-bottom: 50px;
}

.testimonyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 99%;
}

.testimonyRow {
    width: 400px;
    height: 340px;
    margin: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonyVideo {
    width: 350px;
    height: 200px;
    margin: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonyVideo iframe {
    width: 350px;
    height: 200px;
}

.testimony .singButton {
    padding: 0px 20px 0px 20px;
}

@media (max-width: 1150px) {
    .testimonyContainer img {
        max-width: 400px;
        max-height: 280px;
    }
    .testimonyContainer iframe {
        max-width: 300px;
        max-height: 200px;
    }
}

@media (max-width: 960px) {
    .testimony h1 {
        font-size: 30px;
    }
    .testimony h2 {
        margin-top: 20px;
        font-size: 15px;
    }
    .testimonyRow {
        max-width: 480px;
        max-height: 280px;
        margin: 0;
        padding: 0;
    }
    .testimonyContainer {
        flex-direction: column;
    }
}